
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos Globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;

    font-family: "Poppins", sans-serif;
}

/* Estilos Principais */

html {
    font-size: 62.5%; /* Conversão de pixels para rems */
}

:root {

    /* Cores do Projeto */

    --cor-n1: #292638;
    --cor-n2: #4D4D4D;
    --cor-n3: #717171;
    --cor-n4: #89899e;
    --cor-n5: #aeabd1;
    --cor-n6: #F5F7FA;
    --cor-n7: #FFFFFF;

    --cor-1: #5143a0;
    --cor-2: #45388e;
    --cor-3: #29237d;
    --cor-4: #1b1c5e;
    --cor-5: #10113e;

    --cor-c1: #6c66bb;
    --cor-c2: #8681c7;
    --cor-c3: #a6a5d6;
    --cor-c4: #c9c8e6;
    --cor-c5: #e9e8f5;

}

body {
    background: var(--cor-n6);
}

img {
    width: 100%;
}

.interface {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pag-main .interface {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8.0rem;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 0.8rem;
}
.section-title h2 {
    color: var(--cor-n3);
    font-size: 3.2rem;
    font-weight: 600;
}
.section-title p {
    color: var(--cor-n3);
    font-size: 1.6rem;
    font-weight: 400;
}



/* Menu */

header {
    margin: 3.0rem 0;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    transition: .5s;
}
.menu-logo a:hover {
    transform: scale(1.1);
}
.menu-logo a img {
    width: 4.0rem;
    height: 4.0rem;
}
.menu-logo a span {
    color: var(--cor-n1);
    font-size: 2.2rem;
    font-weight: 600;
}

.menu-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}
.menu-right nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.menu-right nav ul li a {
    color: var(--cor-n4);
    font-size: 1.6rem;
    font-weight: 500;
    transition: .5s;
}
.menu-right nav ul li a:hover {
    color: var(--cor-n2);
}

.menu-button button {
    padding: 1.4rem;
    color: var(--cor-n6);
    background: var(--cor-1);
    border-radius: .8rem;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0.8rem 1.0rem rgba(0, 0, 0, 0.15);
    transition: .5s;
}
.menu-button button:hover {
    transform: scale(1.1);
}

/* Home Section */

.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.0rem;
}

.home-centent {
    width: 60.0rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2.4rem;
}

.home-title {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1.0rem;
}
.home-title h1 {
    font-size: 5.2rem;
    line-height: 5.4rem;
    color: var(--cor-n1);
}
.home-title h1 span {
    color: var(--cor-2);
}
.home-title p {
    font-size: 1.6rem;
    color: var(--cor-n3);
}

.home-image img {
    width: 51.2rem;
    height: 51.2rem;
}

.home-button button {
    padding: 1.4rem 2.6rem;
    color: var(--cor-n6);
    background: var(--cor-1);
    border-radius: .8rem;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0.8rem 1.0rem rgba(0, 0, 0, 0.15);
    transition: .5s;
}
.home-button button:hover {
    transform: scale(1.1);
}

/* Clients Section */

/* 
   total brand: 14
   logo width: 2.4rem
   total logo width: calc(14 * 2.4rem)
 */

.clients-logos {
    position: relative;
    padding: 2.0rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.clients-logos::before,
.clients-logos::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
}
.clients-logos::before {
    left: 0;
    background: linear-gradient(to right, var(--cor-n6) 0%, #0000, 100%);
}
.clients-logos::after {
    right: 0;
    background: linear-gradient(to left, var(--cor-n6) 0%, #0000, 100%);
}

.clients-logos ul.clients-enterprises {
    display: flex;
    gap: 3.0rem;
}

ul.clients-enterprises li.enterprise-logo {
    width: 12.0rem;
}

/* About Section */

.about-infos {
    margin-top: 2.0rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6.0rem;
}

.info-about {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.info-about i {
    padding: 1.2rem;
    width: 5.6rem;
    height: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.4rem;
    color: var(--cor-2);
    background: var(--cor-c4);
    border-radius: 50%;
}
.info-about h3 {
    font-size: 2.6rem;
    color: var(--cor-n2);
}
.info-about p {
    font-size: 1.5rem;
    color: var(--cor-n3);
}

/* Post Section */

.post-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.0rem;
}

.post-centent {
    width: 60.0rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2.4rem;
}

.post-title {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1.0rem;
}
.post-title h1 {
    font-size: 3.6rem;
    line-height: 4.2rem;
    color: var(--cor-n2);
}
.post-title h1 span {
    color: var(--cor-2);
}
.post-title p {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    color: var(--cor-n3);
}

.post-image img {
    width: 51.2rem;
    height: 51.2rem;
}

.post-button button {
    padding: 1.4rem 2.6rem;
    color: var(--cor-n6);
    background: var(--cor-1);
    border-radius: .8rem;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0.8rem 1.0rem rgba(0, 0, 0, 0.15);
    transition: .5s;
}
.post-button button:hover {
    transform: scale(1.1);
}

/* Information Section */

.information-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information-title h2 {
    font-size: 3.2rem;
    color: var(--cor-n2);
    line-height: 3.4rem;
}
.information-title h2 span {
    font-size: 3.2rem;
    color: var(--cor-2);
}

.information-title span {
    font-size: 1.6rem;
    color: var(--cor-n3);
}

.information-infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.0rem;
}

.information-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.information-item i {
    font-size: 3.6rem;
    color: var(--cor-3);
}
.information-item div {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.information-item span {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--cor-n2);
}
.information-item p {
    font-size: 1.8rem;
    color: var(--cor-n4);
}

/* Feedback Section */

.feedback-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-image img {
    width: 30.0rem;
    height: 30.0rem;
}

.client-feedback {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.feedack-comment {
    margin-bottom: 3.0rem;
}
.feedack-comment p {
    color: var(--cor-n3);
    font-size: 1.5rem;
}
.feedack-comment .feedback-author {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.feedback-author .feedback-author-name {
    font-size: 2.0em;
    font-weight: 600;
    color: var(--cor-3);
}
.feedback-author .feedback-author-enterprise {
    font-size: 1.5rem;
    color: var(--cor-n3);
}

.feedback-clients-logos {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2.0rem;
}
.feedback-clients-logos ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.2rem;
}
.feedback-clients-logos ul li img {
    width: 4.5rem;
    height: 4.5rem;
}
.feedback-clients-logos a {
    font-size: 2.0rem;
    font-weight: 500;
    color: var(--cor-3);
}

/* Valores Section */

.valores-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plano-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.plano-card .plano-card-image img {
    width: 51.2rem;
    height: 30.0rem;
}
.plano-card .plano-card-content {
    padding: 2.0rem;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    text-align: center;
    background: var(--cor-c5);
    border-radius: 0.8rem;
    transform: translateY(-50%);
}
.plano-card .plano-card-content p {
    font-size: 1.8rem;
    color: var(--cor-n2);
}
.plano-card .plano-card-content a {
    font-size: 1.6rem;
}